@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import 'styles/_variables';
@import 'styles/_clickBox';
@import 'styles/_colorGame';

* {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body {
  width: 100vw;
  min-height: 90vh;
  position: relative;
}

.text {
  font-size: 1rem;
  font-weight: 400;

  &-xl {
    font-size: x-large;
  }

  &-dark {
    color: $dark;
  }

  &-light {
    color: $light;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: .7rem;
  background-color: $dark;
}