@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
/*
$primary: #24b794;
$primalight:#95b6ae;
$secondary: #b7243c;
$dark: #221f22;
$light: #ececec;*/
/*
$primary: #5200ff;
$primalight:#d0baff;
$secondary: #d6f31f;
$dark: #5200ff;
$light: #ececec;*/
#greeting {
  margin: auto;
  width: 200px;
  min-height: 100vh;
  padding: 30px;
  background-color: #1f4564;
  text-align: center;
}
@media (min-width: 768px) {
  #greeting {
    width: 300px;
  }
}
#greeting div:last-of-type {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#gameArea {
  width: 200px;
  height: 200px;
  margin: 10px 0;
  background-color: #0f2130;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px -5px #f4f8fa;
}
@media (min-width: 768px) {
  #gameArea {
    width: 300px;
    height: 300px;
  }
}

#clickBox {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 20px solid #1f4564;
  background-color: #1f4564;
  text-align: center;
  line-height: 2rem;
  border-radius: 5px;
  box-shadow: 5px -5px #f4f8fa;
}
#clickBox img {
  width: 100%;
}

#colorArea {
  width: 200px;
  height: 200px;
  margin: 10px 0;
  background-color: #f4f8fa;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 5px -5px #f4f8fa;
}
@media (min-width: 768px) {
  #colorArea {
    width: 300px;
    height: 300px;
  }
}

.colorCard {
  width: 33%;
  height: 33%;
  padding: 5px;
  background-color: #1f4564;
  border: 1px solid #0f2130;
  user-select: none;
}

.slidecontainer {
  width: 100%;
}
.slidecontainer input {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #0f2130;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #1f4564;
  cursor: pointer;
}

.cContainer {
  width: 100%;
  height: 30px;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
}

.carousel {
  width: 3000px;
  height: 30px;
  background-color: #f4f8fa;
  position: absolute;
  display: flex;
}

.cSlide {
  width: 500px;
  position: relative;
  height: 100%;
  display: block;
  background-color: #1f4564;
  color: #f4f8fa;
}
.cSlide:nth-child(even) {
  background-color: #0f2130;
}

.calc {
  padding: 10px 0;
}

* {
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

html {
  background-color: white;
}

body {
  width: 400px;
  min-height: 100vh;
  margin: auto;
  position: relative;
  background-color: #eeeeee;
  border-radius: 5px;
  z-index: 1;
}
@media (min-width: 768px) {
  body {
    width: 768px;
  }
}

.text {
  font-size: 1rem;
  font-weight: 400;
}
.text-xl {
  font-size: x-large;
}
.text-dark {
  color: #000000;
}
.text-light {
  color: #ffffff;
}
.text-primary {
  color: #1f4564;
}
.text-primalight {
  color: #f4f8fa;
}
.text-secondary {
  color: #0f2130;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.o-50 {
  opacity: 50%;
}

.nonselect {
  user-select: none;
}

#vertical {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-90deg) translate(-50%, 200%);
  font-size: 2rem;
  font-weight: 700;
  color: #f4f8fa;
}
@media (min-width: 768px) {
  #vertical {
    font-size: 5rem;
    font-weight: 900;
  }
}

button {
  border-radius: 0px;
  background-color: #0f2130;
  color: #ffffff;
}

#footer {
  width: 100%;
  padding: 0.7rem;
  margin-top: 10px;
  background-color: #1f4564;
}

/*# sourceMappingURL=style.css.map */
