#gameArea {
  width: 300px;
  height: 300px;
  margin: 10px 0;

  background-color: $secondary;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px -5px $primalight;

  @include lg {
    width: 400px;
    height: 400px;
  }
}

#clickBox {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 20px solid $primary;
  background-color: $primary;
  text-align: center;
  line-height: 2rem;
  border-radius: 5px;
  box-shadow: 5px -5px $primalight;
}