#colorArea {
  width: 200px;
  height: 200px;
  margin: 10px 0;
  background-color: #f4f8fa;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 5px -5px $primalight;

  @include lg {
    width: 300px;
    height: 300px;
  }

}

.colorCard {
  width: 33%;
  height: 33%;
  padding: 5px;
  background-color: $primary;
  border: 1px solid $secondary;
  user-select: none;
}