#colorArea {
  width: 20vw;
  height: 20vw;
  background-color: grey;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.colorCard {
  width: 33%;
  height: 33%;
  background-color: $secondary;
  border: 1px solid black;
  user-select: none;
}