#greeting {
  margin: auto;
  width: 200px;
  height: 800px;
  padding: 30px;
  background-color: $primary;
  text-align: center;

  @include lg {
    width: 300px;
  }

  div:last-of-type {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

}