$primary: #5200ff;
$primalight:#d0baff;
$secondary: #d6f31f;
$dark: #5200ff;
$light: #ececec;

@mixin lg {
  @media(min-width: 768px) {
    @content;
  }
}




/*
$primary: #24b794;
$primalight:#95b6ae;
$secondary: #b7243c;
$dark: #221f22;
$light: #ececec;*/
